.section-title {
    margin-top: 20px;
    margin-bottom: 25px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 0.8;
    margin-bottom: 4px;
  }
  .panel-list-separation{
    display: flex;
    align-items: center;
    gap: 50px;
  }